@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
   
header{
    background-color: black;
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
    background-image: url(/img/backgroud_header.png);
    margin: auto;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;

}
.logo, .social{
    width: 25%;
    text-align: center;

}
.logo img{
    width:200px ;
    cursor: pointer;
    margin-right: 10px;
    margin: 0;
    
}
.menu{
    width: 100%;
    margin-bottom:0px;
    align-items: center;
    text-align: center;
    
  
}
.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
    margin-bottom: auto;
  

}
.menu nav a::after{
   content: " ";
   width: 0px;
   height: 4px;
   background-image: linear-gradient(45deg, rgb(111, 113, 57), #ffffff);
   position: absolute;
   top: 30px;
   left: 0;
   transition: width 0.5s;

   
}
.menu nav a:hover::after{
    width: 30px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding : 100px;
    text-align: center;
  }
  .sociais2 button{
    width: 80px;
    height: 80px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), #000000);
    border: none;
    cursor: pointer;
   
    align-items: center;
    justify-content: center;
}
.sociais2 button i {
   font-size: 40 px;
   color: #ffffff;
   align-items: center;
    justify-content: center;
 
}
.sociais2{
     align-items: center;
    justify-content: center;        
}
.links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
  }
 main{
   
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: black;
 }
 .capa1 img{
   
    width: 100% ;
    cursor: pointer;
    background-size: cover;
  

 }
 .campo {
    margin-bottom: 15px;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
   
}
h1{
    color: #fff;
}
table {
    border-collapse: collapse;
    width: 100%;
    
}

td {
    padding: 8px;
    text-align: center;
   
}

img {
    width: 200px;
    height: auto;
   margin: 0 20px;
}