@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content:first baseline;
    padding: 10px;
    align-items:normal;
}

header {
    background-color: black;
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
    background-image: url(/img/backgroud_header.png);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menu {
    flex: 1; /* Adicionado para ocupar espaço restante */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu nav {
    display: flex;
    flex-wrap: wrap; /* Adicionado para quebrar em telas menores */
    justify-content: center;
}

.menu nav a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
    margin-bottom: auto;
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, rgb(111, 113, 57), #ffffff);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after {
    width: 30px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 100px;
    text-align: center;
    margin: auto;
}

.sociais2 button {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), #000000);
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.sociais2 button i {
    font-size: 40px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.sociais2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 8px;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
    margin: 0 20px;
}
